:root {
    --primary-color: #2E2F42;
    --main-text-color: #434455;
    --logo-btn-color: #4D5AE5;
    --main-inverse-color: #FFFFFF;
    --secondary-inverse-color: #E7E9FC;
    --accent-color: #404BBF;
    --logo-inverse-color: #F4F4FD;
    --secondary-bg-color: #F4F4FD;
    --customers-icons-color: #AFB1B8;
    --transition-dur-tf: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --label-text-color: #8E8F99;
}

.menu {
    list-style: none
}

.link {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

body {
    background-color: #FFFFFF;
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
    overflow: auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

@media screen and (min-width: 480px) {
    .container {
        width: 428px;
        }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        background-color: teal;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
        background-color: yellow;
    }
}

@media  screen and (max-width: 767px) {
   .nav-container {
    display: none;
} 
}



.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.burger-button {
    
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
    width: 100%;   
    height: 100%;
    z-index: 1000;
    background-color: #FFFFFF;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity var(--transition-dur-tf);
   }

   @media screen and (min-width: 480px) {
        .mobile-menu {
            width: 428px;
        }
   }

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.mobile-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 40px;
    padding-left: 40px;
    
}

/* .modal-button, */
.mobile-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--secondary-inverse-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* transition: background-color var(--transition-dur-tf); */
    cursor: pointer;
}

.logo-link {
    color: var(--primary-color);
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
}

.web {
    color: var(--logo-btn-color);
}

.nav-list .link {
    color: var(--primary-color);    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;       
    letter-spacing: 0.02em;      
    /* transition: color var(--transition-dur-tf); */
}

.nav-list {
    margin-top: 80px;
}

.nav-list .menu:not(:last-child) {
    margin-bottom: 40px;
}

.address {
    margin-bottom: 48px;
}

.address .link {
    color: var(--main-text-color);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.mob-tel-item {
    margin-bottom: 40px;
}

.menu .tel-link {    
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;        
    letter-spacing: 0.02em;     
    color: var(--logo-btn-color);
    
}

.mob-email-item {
    margin-bottom: 48px;
}

.menu .email-link {            
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;        
 }

 /* .team-list, */
 .mobile-soc-list {
    display: flex;
    gap: 56px;
    flex-wrap: wrap;
 } 

 
.mobile-soc-link.link {
     /* transition: background-color var(--transition-dur-tf); */
     display: flex;
     width: 40px;
     height: 40px;
     background-color: var(--logo-btn-color);
     border-radius: 50%;
     justify-content: center;
     align-items: center;
 }

 .social-icon {
     width: 16px;
     height: 16px;
     fill: var(--logo-inverse-color)
 }